@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Miniver&family=Signika:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  min-height: 100vh;
  font-family: "Signika", sans-serif;
  color: #1f2937;
}

h1 {
  font-family: "Bad Script", serif;
}

h2 {
  font-family: "Bad Script", serif;
}

html {
  scroll-behavior: smooth;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3e2e8;
}

::-webkit-scrollbar-thumb {
  background-color: #3c363b;
  border-radius: 10px;
  border: 2px solid #f3e2e8;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  background-color: rgba(8, 39, 39, 0.644);
  z-index: 1000;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 50%;
  height: 50%;
}
